<!doctype html>
<html>
  <head>
    <title>Group Assignment</title>
  </head>
  <body>
    <h1>Group Assignment using Genetic Algorithm</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept=".csv" required><br><br>
      Population size: <input type="number" name="population_size" required><br><br>
      Generations: <input type="number" name="generations" required><br><br>
      Mutation rate: <input type="number" step="0.01" name="mutation_rate" required><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
